@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&display=swap');

.card {
    position: relative;
    min-width: 200px;
    max-width: 18vw;
    min-height: 100px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 12px;
    box-shadow: 2px 4px 10px #e2e2e2;
    cursor: pointer;
}

.card-wrapper {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.image-wrapper {
    width: 100%;
    height: 200px;
}

.image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.slide-description {
    position: absolute;
    margin: 10px;
    z-index: 3;
}

.slide-description h3 {
    margin: 0;
    color: #3a73fc;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.slide-description p {
    margin: 0;
    color: #7dadfd;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
}