@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;1,300&display=swap');

root {
  position: absolute;
  left: 0;
  top: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

.slider {
  height: 100%;
  margin: 100px 10px 10px 10px;
  padding: 10px;
  background-color: #f1f7ff;
  border-radius: 12px;
}

.slider-header {
  position: fixed;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #f1f7ff;
  z-index: 5;
}

.slider-header > h1 {
  position: relative;
  margin: auto;
  color: tomato;
  font-family: 'Newsreader', serif;
  font-weight: 300;
}

