.slider-container {
    position: absolute;
    left: 20px;
    top: 90px;
    width: calc(100% - 40px);
    height: 45vw;
    overflow: hidden;
    border: 1px solid red;
    z-index: 2;
}

.slider-container.active {
    display: block;
}

.slider-container.inactive {
   display: none;
}